<h1>Editing Book</h1>


<%= form_with model: @books do |f| %>
  <div class="field">
    <label for="title">Title</label></br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label for="body">body</label></br>
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit 'Update Book' %>
  </div>
  <%= link_to "Show", book_path(@books) %>
  <span>|</span>
  <%= link_to "Back", books_path %>
<% end %>

